:root {
  --ref-palette-primary0: 0, 0, 0;
  --ref-palette-primary10: 0, 33, 12;
  --ref-palette-primary20: 0, 57, 25;
  --ref-palette-primary25: 0, 69, 31;
  --ref-palette-primary30: 0, 82, 38;
  --ref-palette-primary35: 0, 96, 46;
  --ref-palette-primary40: 9, 109, 54;
  --ref-palette-primary50: 47, 135, 77;
  --ref-palette-primary60: 75, 162, 100;
  --ref-palette-primary70: 103, 189, 125;
  --ref-palette-primary80: 130, 217, 150;
  --ref-palette-primary90: 157, 246, 176;
  --ref-palette-primary95: 196, 255, 204;
  --ref-palette-primary98: 234, 255, 233;
  --ref-palette-primary99: 245, 255, 242;
  --ref-palette-primary100: 255, 255, 255;
  --ref-palette-secondary0: 0, 0, 0;
  --ref-palette-secondary10: 14, 31, 18;
  --ref-palette-secondary20: 35, 52, 38;
  --ref-palette-secondary25: 46, 64, 48;
  --ref-palette-secondary30: 57, 75, 59;
  --ref-palette-secondary35: 68, 87, 70;
  --ref-palette-secondary40: 80, 99, 82;
  --ref-palette-secondary50: 104, 124, 106;
  --ref-palette-secondary60: 130, 150, 131;
  --ref-palette-secondary70: 156, 177, 157;
  --ref-palette-secondary80: 183, 204, 183;
  --ref-palette-secondary90: 211, 232, 210;
  --ref-palette-secondary95: 225, 247, 224;
  --ref-palette-secondary98: 234, 255, 233;
  --ref-palette-secondary99: 245, 255, 242;
  --ref-palette-secondary100: 255, 255, 255;
  --ref-palette-tertiary0: 0, 0, 0;
  --ref-palette-tertiary10: 0, 31, 37;
  --ref-palette-tertiary20: 1, 54, 62;
  --ref-palette-tertiary25: 18, 65, 74;
  --ref-palette-tertiary30: 32, 77, 86;
  --ref-palette-tertiary35: 45, 89, 98;
  --ref-palette-tertiary40: 58, 101, 110;
  --ref-palette-tertiary50: 83, 126, 135;
  --ref-palette-tertiary60: 108, 152, 161;
  --ref-palette-tertiary70: 135, 178, 189;
  --ref-palette-tertiary80: 162, 206, 216;
  --ref-palette-tertiary90: 189, 234, 245;
  --ref-palette-tertiary95: 213, 247, 255;
  --ref-palette-tertiary98: 239, 252, 255;
  --ref-palette-tertiary99: 247, 253, 255;
  --ref-palette-tertiary100: 255, 255, 255;
  --ref-palette-neutral0: 0, 0, 0;
  --ref-palette-neutral4: 12, 15, 12;
  --ref-palette-neutral6: 17, 20, 17;
  --ref-palette-neutral10: 25, 28, 25;
  --ref-palette-neutral12: 29, 32, 29;
  --ref-palette-neutral17: 40, 43, 39;
  --ref-palette-neutral20: 46, 49, 46;
  --ref-palette-neutral22: 51, 53, 50;
  --ref-palette-neutral25: 57, 60, 57;
  --ref-palette-neutral30: 69, 71, 68;
  --ref-palette-neutral35: 80, 83, 79;
  --ref-palette-neutral40: 92, 95, 91;
  --ref-palette-neutral50: 117, 120, 115;
  --ref-palette-neutral60: 143, 145, 141;
  --ref-palette-neutral70: 170, 172, 167;
  --ref-palette-neutral80: 197, 199, 194;
  --ref-palette-neutral87: 217, 219, 213;
  --ref-palette-neutral90: 226, 227, 222;
  --ref-palette-neutral92: 231, 233, 227;
  --ref-palette-neutral94: 237, 238, 233;
  --ref-palette-neutral95: 240, 241, 236;
  --ref-palette-neutral96: 243, 244, 239;
  --ref-palette-neutral98: 249, 250, 244;
  --ref-palette-neutral99: 252, 253, 247;
  --ref-palette-neutral100: 255, 255, 255;
  --ref-palette-neutral-variant0: 0, 0, 0;
  --ref-palette-neutral-variant10: 22, 29, 23;
  --ref-palette-neutral-variant20: 43, 50, 43;
  --ref-palette-neutral-variant25: 54, 61, 54;
  --ref-palette-neutral-variant30: 65, 73, 65;
  --ref-palette-neutral-variant35: 77, 84, 76;
  --ref-palette-neutral-variant40: 89, 96, 88;
  --ref-palette-neutral-variant50: 113, 121, 112;
  --ref-palette-neutral-variant60: 139, 147, 138;
  --ref-palette-neutral-variant70: 166, 173, 164;
  --ref-palette-neutral-variant80: 193, 201, 191;
  --ref-palette-neutral-variant90: 221, 229, 218;
  --ref-palette-neutral-variant95: 235, 243, 232;
  --ref-palette-neutral-variant98: 244, 252, 241;
  --ref-palette-neutral-variant99: 247, 254, 244;
  --ref-palette-neutral-variant100: 255, 255, 255;
  --ref-palette-error0: 0, 0, 0;
  --ref-palette-error10: 65, 0, 2;
  --ref-palette-error20: 105, 0, 5;
  --ref-palette-error25: 126, 0, 7;
  --ref-palette-error30: 147, 0, 10;
  --ref-palette-error35: 168, 7, 16;
  --ref-palette-error40: 186, 26, 26;
  --ref-palette-error50: 222, 55, 48;
  --ref-palette-error60: 255, 84, 73;
  --ref-palette-error70: 255, 137, 125;
  --ref-palette-error80: 255, 180, 171;
  --ref-palette-error90: 255, 218, 214;
  --ref-palette-error95: 255, 237, 234;
  --ref-palette-error98: 255, 248, 247;
  --ref-palette-error99: 255, 251, 255;
  --ref-palette-error100: 255, 255, 255;
}
